name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - dev
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest

    env:
      HUMANITEC_ORG: ${{ secrets.HUMANITEC_ORG }}
      HUMANITEC_TOKEN: ${{ secrets.HUMANITEC_TOKEN }}
      HUMANITEC_APP: ${{ secrets.HUMANITEC_APP }}
      HUMANITEC_URL: "https://api.humanitec.io"
      TFC_TOKEN: ${{ secrets.TFC_TOKEN }}
      TFC_ORG: ${{ secrets.TFC_ORG }}
      TFC_WORKSPACE: ${{ secrets.TFC_WORKSPACE }}


    steps:
      - uses: actions/checkout@v3

      # prep work
      - run: |
          ls
          pwd
          echo $HOME
          mkdir $HOME/.bin
          echo $PATH
          echo $GITHUB_PATH
          echo "${HOME}/.bin" >> $GITHUB_PATH
          echo $PATH
          echo $GITHUB_PATH
      - run: |
          curl -L https://github.com/a8m/envsubst/releases/download/v1.4.2/envsubst-Linux-x86_64 -o ~/.bin/envsubst
          curl -L https://github.com/score-spec/score-humanitec/releases/download/0.3.0-rc1/score-humanitec_0.3.0-rc1_linux_amd64.tar.gz -o /tmp/score.tar.gz
          tar xvzf /tmp/score.tar.gz -C /tmp && cp /tmp/score-humanitec ~/.bin
          curl -L https://releases.hashicorp.com/terraform/1.4.0/terraform_1.4.0_linux_amd64.zip -o /tmp/terraform.zip
          unzip /tmp/terraform.zip && mv terraform ~/.bin
          chmod +x ~/.bin

          terraform --version
          jq --version
          score-humanitec --version

      # Humanitec resource definitions, state stored in Terraform Cloud
      - run: |
          cd humanitec-resource-definitions-terraform
          pwd && ls
          export TF_VAR_HUMANITEC_ORG=$HUMANITEC_ORG
          export TF_VAR_HUMANITEC_TOKEN=$HUMANITEC_TOKEN
          export TF_VAR_HUMANITEC_APP=$HUMANITEC_APP
          chmod +x tfcloud.sh && ./tfcloud.sh
          terraform init -upgrade
          terraform plan
          terraform apply -auto-approve
    
      # docker, and set the $IMAGE_NAME and use overrides later
      - name: Build and Push to AWS ECR
        uses: humanitec/build-push-to-humanitec@v1
        with:
          humanitec-token: ${{ secrets.HUMANITEC_TOKEN }}
          organization: ${{ secrets.HUMANITEC_ORG }}
          image-name: app
          context: ./app
          tag: ${{ steps.get_version.outputs.VERSION }}
          external-registry-url: 094812427315.dkr.ecr.us-east-2.amazonaws.com/humanitec-eval

      # dev env
      - run: |
          cd score
          chmod +x deploy_dev.sh
          IMAGE_NAME="nginxdemos/hello:latest" envsubst < overrides.debug.yaml.example > overrides.debug.yaml
          HUMANITEC_ENVIRONMENT=development ./deploy_dev.sh

      # prod env
      - run: |
          cd score
          chmod +x deploy_prod.sh
          IMAGE_NAME="nginxdemos/hello:latest" envsubst < overrides.debug.yaml.example > overrides.debug.yaml
          HUMANITEC_ENVIRONMENT=production HUMANITEC_FROM_ENVIRONMENT=development ./deploy_prod.sh
